{
    "extends": "standard",
    "rules": {
        "indent": ["error", "tab"],
        "no-tabs": 0,
        "quote-props": ["error", "as-needed"],
        "semi": ["error", "always"],
        "space-before-function-paren": ["error", "never"]
    }
}